<%= f.input :cvu, label: 'Creator CVU', input_html: { class: 'form-control'} %>
<!-- <button type="button" class="btn btn-success"><i class="icon-white glyphicon-plus"></i><span>More</span></button> -->
</div>
