<div class="well well-sm">Creditos:
  <% if presenter.sub_collection.present? %>
    <% presenter.sub_collection.each do |sub_collection| %>
      <%= sub_collection + "#{", "}" %>
    <% end %>
  <% end %>
  <% if presenter.collection_name.present? %>
    <%= "#{@presenter.collection_name.first}" + "#{", "}" %>
  <% end %>
  <%= "#{"Biblioteca Daniel Cosío Villegas - El Colegio de México, "}" + Unit.find_by_key(@presenter.unit.first.to_s).name %>
</div>
