<%- if presenter.unit.present? %>
    <th>Unit</th>
    <td>
      <ul class="tabular">
        <li class="attribute unit">
          <%= link_to unit_name(presenter.unit.first), unit_catalog_path(presenter.unit.first) %>
        </li>
      </ul>
    </td>
<%- end %>
