
<% presenter.title.each_with_index do |title, index| %>
    <% if index == 0 %>
        <h1><%= title %> <%= presenter.permission_badge %></h1>
    <% else %>
        <h1><%= title %></h1>
    <% end %>
<% end %>
<%- if presenter.respond_to?(:unit) && presenter.unit.present? %>
  <span class="unit-title">- from the
    <%= link_to unit_name(presenter.unit.first), unit_catalog_path(presenter.unit.first) %>
  </span>
<%- end %>
