<%= render partial: "units/unit_spread", locals: { units: @units } %>
<div class="col-md-3"></div>
<div class="col-md-6 collections-header"><h2>The Collections</h2></div>
<div class="col-md-3"></div>
</div>
<div class="collections row">
<div class="col-md-4 collection-image">
<h3 class="coll-title"><a class="coll-title-link" href="#">Billy Ireland Cartoon Library & Museum</a></h3>
<div class="overlay">
<img class="img-thumbnail image_overlay" src="<%= asset_path('billy-coll.jpg') %>" />
<div class="img_overlay">
<p class="collection_description">The Billy Ireland Cartoon Library & Museum houses the world’s largest collection of materials related to cartoons and comics, including original art, books, magazines, journals, comic books, archival materials, and newspaper comic strip pages and clippings. <p><button type="button" class="btn btn-success">Browse Collection</button></p></p></div>
</div>
</div>
<div class="col-md-4 collection-image">
<h3 class="coll-title"><a class="coll-title-link" href="#">Byrd Polar and Climate Research Center</a></h3>
<div class="overlay_byrd">
<img class="img-thumbnail byrd" src="<%= asset_path('byrd-coll.jpg') %>" />
<div class="img_overlay_byrd">
<p class="collection_description">Named in honor of one of America's most famous explorers, Admiral Richard E. Byrd, the Byrd Polar and Climate Research Center of The Ohio State University is recognized internationally as a leader in polar and alpine research. The Center's research programs are conducted throughout the world.<p><button type="button" class="btn btn-success">Browse Collection</button></p></p></div>
</div>
</div>
<div class="col-md-4 collection-image">
<h3 class="coll-title"><a  class="coll-title-link" href="#">Ohio State University Archives</a></h3>
<div class="overlay_arch">
<img class="img-thumbnail arch" src="<%= asset_path('arch-coll.jpg') %>" />
<div class="img_overlay_arch">
<p class="collection_description">Established in 1965, The Ohio State University Archives serves as the official memory of the University. Since then, the Archives has collected more than 30,000 linear feet of manuscripts materials and roughly 2 million photos and other images to serve this purpose.<p><button type="button" class="btn btn-success">Browse Collection</button></p></p>
</div>
</div>
</div>
