<div class="home_call_action col-xs-12 col-sm-4 pull-right">
    <div class="home_share_work">
      <span class="lead" >Digital Collection Services</span>
    </div>
</div>
<div class="col-xs-12 col-sm-8">
  <%= render "marketing" %>
</div>
