<div class="col-md-6 col-md-offset-3 collections-header"><h2>The Collections</h2></div>

<div class="collections row">
  <% @units.each do |unit| %>
    <%= render partial: "units/unit_overlay", locals: {unit: unit} %>
  <% end %>
</div>
