<footer class="navbar navbar-inverse footer">
  <div class="container-fluid footer_bg">
    <div class="col-md-9">
    <div class="navbar-text text-left">
        <div id="osul_bottom_logo">
          <a title="The Ohio State University" href="http://osu.edu/" class="replace" id="osu-library-logo"><span></span><%= image_tag "OSU-Wordmark-White.png", class: "img-responsive" %>The Ohio State University Libraries</a>
          <br>
          <div id="osu-copyright">
            <p>
              &copy; 2015, The Ohio State University - <a href="http://library.osu.edu/">University Libraries</a>
            </p>
          </div>
          <address id="osu-address">
            1858 Neil Avenue Mall<br>
            Columbus, Ohio 43210<br>
            614-292-OSUL (6785)
          </address>
            <p><a href="https://creativecommons.org/licenses/by/4.0/"><img src="https://library.osu.edu/images/CCAttribution.png" alt="Creative Commons logo" width="88" height="31"></a> Except where otherwise noted, this work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
            <p><a href="https://library.osu.edu/about/policies-procedures/copyright-information/">Copyright Information</a> | <a href="https://library.osu.edu/about/policies-procedures/copyright-information/#CCBY">Details and Exceptions</a></p>
            <p><a href="mailto:libwebticket@osu.edu">Request an alternate format of this page</a> | <a href="https://library.osu.edu/about/policies-procedures/privacy-policy/">Privacy Policy</a> | <a href="https://library.osu.edu/about/contact-us/webmaster-mail">Contact Us</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    <div class="navbar-right text-center">
      <div class="navbar-text">
        <div id="social">
            <a href="https://www.facebook.com/Ohio-State-University-Libraries-10912938850/timeline/" class="social_icon">
              <img src="https://library.osu.edu/images/icons/facebook/facebook-32.png" alt="Facebook" />
            </a>
            <a href="https://twitter.com/osulibrary" class="social_icon">
              <img src="https://library.osu.edu/images/icons/twitter/twitter-32.png" alt="Twitter" />
            </a>
            <a href="https://www.youtube.com/user/OhioStateLibraries" class="social_icon">
              <img src="https://library.osu.edu/images/icons/youtube/youtube-32.png" alt="Youtube" />
            </a>
            <a href="https://library.osu.edu/blogs/feed" class="social_icon">
              <img src="https://library.osu.edu/images/icons/rss/rss-32.png" alt="RSS" />
            </a>
        </div>
          <a href="https://www.osu.edu/giving/areas-to-support/units/libraries.html">
            <img src="https://library.osu.edu/images/button-givetoday-165.png" alt="Give Today"/>
          </a>
      </div>
    </div>
  </div>
</div>
</footer>
