<% @presenter.characterization_metadata.keys.each do |term| %>
  <div>
    <%-
      primary_values = @presenter.primary_characterization_values(term)
      additional_values = @presenter.secondary_characterization_values(term)
      if term == :file_size
        primary_values.map!{ |v| number_to_human_size(v) }
        additional_values.map!{ |v| number_to_human_size(v) }
      end
    %>
    <%= @presenter.label_for_term(term) %>: <%= primary_values.join("<br />").html_safe %>
    <% unless additional_values.empty? %>
      <%= render partial: "extra_fields_modal", locals: { name: term, values: additional_values } %>
    <% end %>
  </div>
<% end %>
