<% @presenter.characterization_metadata.keys.each do |term| %>
  <%-
    primary_values = @presenter.primary_characterization_values(term)
    additional_values = @presenter.secondary_characterization_values(term)
  %>
  <%- if primary_values.present? %>
    <div>
      <%= @presenter.label_for_term(term) %>: <%= format_characterization_values(term, primary_values).join("<br />").html_safe %>
      <% unless additional_values.empty? %>
        <%= render partial: "extra_fields_modal", locals: { name: term, values: format_characterization_values(term, additional_values) } %>
      <% end %>
    </div>
  <% end %>
<% end %>
