<p>La Biblioteca Daniel Cosío Villegas de El Colegio de México (BDCV) es responsable de asegurar en el largo plazo el acceso y la preservación a los recursos de información y otros materiales que adquiere, para apoyar las funciones de docencia e investigación de El Colegio de México. Parte integral de esta responsabilidad es tomar acciones para preservar los datos, información y productos académicos de la comunidad COLMEX, por lo que se requiere el desarrollo de un repositorio de preservación digital con la asistencia de CONACYT.</p>

<p><strong>Grupo de Trabajo</strong>
<p>Micaela Chávez Villa
<br/>
Directora de la Biblioteca.</p>
<p>Alberto Santiago Martinez
<br/>
Coordinador de Innovación Digital dentro de la biblioteca. Es el líder de proyecto</p>
<p>Silvia Gutiérrez de la Torre
<br/>
Bibliotecaria de Iniciativas Digitales. Cuenta con un posgrado en Humanidades Digitales y es especialista en visualización de datos e investigación digital.</p>
<p>Natalie Baur
<br/>
Preservacion Digital. Elaboración de Metadatos</p>
<p>Guadalupe Vega
<br/>
Coordinadora de Organización de Información.</p>
<p>Máximo Román Domínguez López (MRDL)
<br/>
Políticas de derechos de autor y asuntos legales.</p>
