<h1>Términos del uso</h1>
<p>
1. General: El Repositorio Institucional es responsable de integrar en el Repositorio Institucional las publicaciones académicas de El Colegio de México, instituciones o autores que deseen depositar su obra.  Usted al momento de acceder a los contenidos del Repositorio Institucional acepta los términos de uso, si usted está en desacuerdo en algún con alguno de los términos, por favor no use los contenidos del Repositorio Institucional de El Colegio de México.
</p>
<p>
2. El término de uso puede cambiarse constantemente sin previo aviso, así que el uso que usted haga de los contenidos del Repositorio Institucional será acuerdo de manera prospectiva, por eso le recomendamos que revise constantemente los términos de uso de vez en cuando.
</p>
<p>
3. Derecho de Autor y uso de contenidos: El repositorio institucional incluye texto, imágenes, gráficos, información, artículos, objetos multimedia, proyectos académicos y otras obras protegidas por el Derecho de autor. También puede contener información u obras que hayan pasado a dominio público a nivel nacional o internacional. En cada uno de los registros del Repositorio Institucional se incluyen metadatos asociados al objeto con el fin de identificarlos y organizarlos. Es necesario mencionar que cada material que se encuentre en el  Repositorio Institucional están protegidos por la Ley Federal de Derecho de Autor, Ley Federal de Archivo, Ley General de Transparencia y Acceso a la Información y Ley Federal de Protección de Datos Personales en Posesión de los Particulares. Cabe aclarar que:
<br/>
 “El contenido de los documentos publicados es responsabilidad de cada autor o entidad y no representa el punto de vista de El Colegio de México. Se autoriza cualquier reproducción parcial o total de los contenidos o imágenes, incluyendo el almacenamiento digital (copia privada), siempre y cuando sea sin fines de lucro o para usos estrictamente académicos, citando invariablemente la fuente sin alteración de contenido y dando los créditos autorales”.
</p>
<p>
Los contenidos han sido depositados para acceder a la enseñanza, la investigación y otras actividades educativas sin fines de lucro.  Además, usted tiene la responsabilidad de hacer su propia evaluación de los derechos de autor u otras preocupaciones legales que puedan afectar su uso del contenido y asumir la responsabilidad personal por sus usos del contenido.
El grado de acceso del contenido estarán relacionados con los metadatos de los registros, así como el uso del mismo.
Si existe algún problema en el Repositorio Institucional, por favor diríjase al siguiente correo: <a href="mailto:asmartinez@colmex.mx">asmartinez@colmex.mx</a>
</p>