<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title"><%= unit.name %></h1>
  </div>
  <div class="panel-body">
    <div class="col-xs-3">
      <%= image_tag unit.image.url(:landing), class: "img-thumbnail media-object-homepage pull-left" %>
    </div>
    <div class="col-xs-9">
      <div class="unit_description_search">
      <p class="lead"><%= unit.description %></p>
      <hr>
      Contact Info: <%= unit.contact_info %>
    </div>
    </div>
  </div>
</div>
