<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title"><%= unit.name %></h1>
  </div>
  <div class="panel-body">
    <div class="col-md-2">
        <%= image_tag unit.image.url(:thumb), class: "img-thumbnail img-responsive" %>
      </div>
    <div class="col-md-10">
      <div class="unit_description_search">
      <p><%= unit.description %></p>
    </div>
    </div>
  </div>
</div>
