<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title"><%= unit.name %></h1>
  </div>
  <div class="panel-body">
    <div class="col-md-9">
      <div class="unit_description_search">
      <p><%= unit.description %></p>
      <hr>
      <p>Contact Info: <%= unit.contact_info %></p>
    </div>
    </div>
    <div class="col-md-3">
      <%= image_tag unit.image.url(:landing), class: "img-thumbnail img-responsive media-object-homepage" %>
    </div>
  </div>
</div>
