<div class="col-lg-5 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-4">
  <div class="media">
    <div class="media-left">
      <%= image_tag unit.image.url(:landing), class: "img-thumbnail media-object" %>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to unit.name, unit, class: "coll-title-link" %></h3>
      <p><%= unit.description %></p>
    </div>
  </div>
</div>