<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= unit.name %></h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <%= image_tag unit.image.url(:landing), class: "img-thumbnail pull-left" %>
      <div class="unit_description_search">
      <p class="lead"><%= unit.description %></p>
      <hr>
      Contact Info: <%= unit.contact_info %>
    </div>
    </div>
  </div>
</div>
