<div class="col-md-4 collection-image">
  <h3 class="coll-title">
    <%= link_to unit.name, unit, class: "coll-title-link" %>
  </h3>
  <div class="overlay">
    <%= image_tag unit.image.url(:landing), class: "img-thumbnail image_overlay" %>
    <div class="img_overlay">
      <p class="collection_description">
         <%= unit.description %>
      </p>
      <p><%= link_to "Browse Collection", unit, class: "btn btn-success btn-collection" %></p>
    </div>
  </div>
</div>