/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= osu_navbar-resp
 *= require chosen
 *= jquery_ui
 *= require_tree .
 *= require select2-bootstrap
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 *= stub print
 */

.form-control .select2-choice {height:34px; line-height:34px;}
.form-control .select2-choice .select2-arrow b {background-position:0 5px;}
.select { width: 100%; }

ul.property-list {
  display: table;
  margin: 0 0 20px 0;
  padding: 0;
}
ul.property-list li {
  display: table-row;
}
ul.property-list li > span {
  display: table-cell;
  padding: 4px 0;
}
ul.property-list li > span:first-child {
  font-weight: bold;
  padding-right: 25px;
}


/* Required form fields */
.form-group.required .control-label:before {
  content:"* ";
  color:red;
  font-weight: bold;
}
.form-group.required .control-label {
  font-weight: bold;
}

.panel-default > .panel-heading
{
  
  color: #F2F2F2;
    background-color: #622222!important;
    /* border-color: #ddd; */

}

.panel-success, .facet_limit-active {
    border-color: #F2F2F2;
}

.facet_limit-active > .panel-heading {
    color: #F2F2F2;
    background-color: #5D6A8F;
    border-color: #5D6A8F;
}