<!DOCTYPE html>
<html>
<head>
  <title>Dcs</title>
  <link rel="stylesheet" href="http://www.osu.edu/assets/fonts/webfonts.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
